.venv/
venv/
__pycache__/
.DS_Store

cifar10/data/
ham10000/data/
trustworthy AI for Dermatology Imaging/

# Large data files — never commit these
*.zip
*.tar.gz
*.gz

# Model checkpoints
*.pt
*.pth
*.ckpt

# Dataset images
ham10000/data/HAM10000_images_part_1/
ham10000/data/HAM10000_images_part_2/